.tableSection {
    border: none; text-align: left; margin: auto; padding: 0; margin-bottom: 20px; width: 250px; margin-top: 8px;
  }
  .contact-us{
    height: 500px !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  }
  .submit-inquiry{
    margin-right: 10px !important;
  }
