PORT=7878
NODE_ENV=development
BackendUrl=http://localhost:7000
GoogleClientId=
AuthProductionBaseURL=https:/web-jam-back-dev.herokuapp.com
userRoles={"roles" : ["Charity", "Volunteer", "Reader", "Librarian", "Developer"]}
AllowUrl={"urls": ["http://something.com", "https://something.com", "http://localhost:7000", "http://localhost:9000"]}
SOCKETCLUSTER_HOST=localhost
SOCKETCLUSTER_PORT=8000
SOCKETCLUSTER_SECURE=false
BUILD_BRANCH=master
HashString=
