PORT=7878
NODE_ENV=development
BackendUrl=http://localhost:7000
GoogleClientId=
AuthProductionBaseURL=https:/web-jam-back-dev.herokuapp.com
userRoles={"roles": ["role1", "role2", "role3"]}
SOCKETCLUSTER_SECURE=false
HashString=
SCS_PORT=8888
SCS_HOST=localhost
TINY_KEY=
HEADLESS:true