.footer span i {
  font-size: 2em;
}

.footerIcon:hover {
  color: var(--footer-fg);
}

.footer {
  flex-shrink: 0;
  background-color: var(--footer-bg) !important;
}

.footer span {
  color: var(--nav-link);
  cursor: pointer;
}

.footer span:hover {
  color: var(--footer-fg);
  cursor: pointer;
}

.wjllc {
  color: var(--footer-fg);
  font-size: 9pt;
  font-weight: bold;
}

.wjllc:hover {
  color: var(--nav-link-hover);
}
