.nav-link {
  padding-left: 0;
  display: block !important;
  color: var(--nav-link);
  outline: none !important;
}

button.nav-link {
  background-color: var(--sidebar-bg);
  font-size: 16px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 0;
  padding-right: 0;
}

button.nav-link:hover {
  background-color: var(--sidebar-hover-bg);
}

.nav-item {
  color: var(--nav-link);
  text-decoration: underline;
  padding-right: 0;
  margin-right: 0;
}

.menu-item {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  min-height: 48px;
  padding-top: 0;
  padding-right: 16px;
  box-sizing: border-box;
}

.menu-item:hover {
  background-color: var(--sidebar-hover-bg);
}

.theme-toggle .theme-toggle-button {
  cursor: pointer;
  user-select: none;
  background: transparent;
  width: 100%;
  text-align: left;
  outline: none;
}

.menu-toggle {
  padding-left: 10px;
  padding-right: 0;
}

#mobilemenutoggle {
  cursor: pointer;
  position: fixed;
  right: 25px;
  top: 32px;
  z-index: 95;
  color: var(--header-fg);
  background-color: var(--header-bg);
  padding: 1px 5px;
}

#mobilemenutoggle img {
  width: 30px;
  height: 20px;
}

.mobile-menu-toggle {
  position: fixed;
  top: 32px;
  right: 16px;
  background-color: var(--header-bg);
  color: var(--header-fg);
  padding: 6px;
  z-index: 90000;
}
