@media screen and (min-width: 900px) {
  .drawer-container {
    float   : right;
    position: fixed;
    right   : 0;
    z-index : 100;
  }

  .main-panel {
    position: relative;
    float   : left;
    clear   : both;
    height  : 100vh;
    width   : calc(100% - 180px);
    display : block;
    overflow: hidden;
  }

  .material-header {
    width: 100%;
  }

  .content-block {
    position      : absolute;
    top           : 0;
    bottom        : 0;
    left          : 0;
    right         : 0;
    overflow      : auto;
    margin-top    : 91px;
    margin-right  : inherit;
    display       : flex;
    flex-direction: column;
  }

  .page-content {
    border-right: 1px solid #000000;
    flex        : 1 0 auto;
  }

  ::-webkit-scrollbar:vertical {
    width: 0;
  }
}

@media screen and (min-width: 2000px) {
  div.youtubeOverlay {
    margin-top: 180px;
    height: 125px;
  }
}

@media screen and (max-width: 350px) {
  div.youtubeOverlay {
    position  : absolute;
    margin-top: 60px !important;
    height    : 75px !important;
  }
}
@media screen and (max-width: 400px) {
  #copyInput {
    width      : 95%;
    margin-left: 8px;
  }

  #playSection audio {
    background-position: center;
  }
}
@media screen and (max-width: 500px) {
  .youtubeOverlay {
    position  : absolute;
    margin-top: 30px !important;
    height    : 75px !important;
  }
}
@media screen and (max-width: 900px) {
  .drawer {
    background-color: rgb(192, 192, 192);
    float           : right;
    height          : 100%;
  }

  .main-panel {
    position: relative;
    float   : left;
    clear   : both;
    height  : 100vh;
    width   : 100vw;
    display : block;
  }

  .material-header {
    width: 100vw;
  }

  .drawer-container.close {
    display: none;
  }

  .drawer-container.open {
    display         : block !important;
    width           : 100vw !important;
    z-index         : 100 !important;
    cursor          : pointer;
    background-color: rgba(42, 34, 42, 0.67);
  }

  .content-block {
    width         : 100vw !important;
    margin        : 0 auto;
    height        : calc(100vh - 88px);
    display       : flex;
    flex-direction: column;
  }

  .page-content {
    flex: 1 0 auto;
  }

  .nav-list,
  .navImage {
    height: 91px;
  }

  .swipe-area {
    width : 30px;
    height: 100vh;
  }

  #playerAndButtons button {
    border: 1px solid #cccccc;
  }

  ::-webkit-scrollbar:vertical {
    width: 0;
  }
  // .nav-list {
  //   width: 192px;
  // }
}

.drawer-container {
  height  : 100vh;
  position: fixed;
  float   : right;
  z-index : 100;
  width   : 180px;
}

.nav-list {
  // width           : 180px;
  position        : fixed;
  top             : 91px;
  right           : 0;
  height          : 100%;
  z-index         : 90000;
  background-color: rgb(192, 192, 192);
}
// @media screen and (max-width: 500px) {
//   // .nav-list {
//   //   width: 192px;
//   // }
// }

.navImage {
  top             : 0;
  right           : 0;
  // width           : 178px;
  background-color: #2a222a;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width             : 12px;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius   : 10px;
  border          : 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius   : 10px;
  background-color: #ffffff;
}

.swipe-area {
  position: absolute;
  width   : 0;
  left    : 128px;
  top     : 0;
  height  : 100%;
  z-index : 9999;
}