.jss5, .MUIDataTable-responsiveBase-5 {
  max-height: 413px;
}

th.MuiTableCell-root.MuiTableCell-head.MUIDataTableHeadCell-root-64 {
  padding: 4px;
  font-weight: bold;
  color: black;
  font-size: 11pt;
}

.MuiTableRow-head {
  height: 40px;
}

.MUIDataTableToolbar-left-102 {
  flex: 1 1 auto;
}

td p {
  margin: 0 !important;
}