/*Music player styles*/
#musicTable tr,
#musicTable td {
  background-color: transparent !important;
}

#player button {
  margin: 3px;
}

#play-buttons {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

#copy-url {
  background-color: #ccc;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 0.8em;
}

#inputGroup {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
  background-color: #c0c0c0;
  text-align: right !important;
}

#copyUrl {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-size: 0.8em;
}

.copySuccess {
  color: green;
}

.missionon, .pubon, .originalon{
  background-color:green !important;
  color:white !important;
}

#playSection {
    display: inline;
    text-align: center;
}

#mainPlayer iFrame {
  pointer-events: none;
}

.youtubeOverlay {
  position: absolute;
  margin-top: 90px;
  background-color: white;
  width: 100%;
  height: 125px;
}

.top-row-style { 
  border-style: inset;
  border-bottom-color: darkgrey;
  border-right-color: darkgray; 
  border-left-color: black;
  border-top-color: black;
  background-color: whitesmoke;
}

.soundcloudOverlay {
  position: absolute;
  margin-top: 13px;
  margin-left: 7px;
  background-color: white;
  width: 48px;
  height: 48px;
}

#copier {
  position: relative;
}

#copyInput {
  width: 100%;
}

#copyInput input {
  border: 1px solid #c0c0c0 !important;
  width: 100%;
  padding: 4px;
}

#copyButton {
  position: absolute;
  border: 1px solid #c0c0c0;
  right: 15px;
  z-index: 10;
  padding: 4px;
  background-color: #c0c0c0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  margin-top: 11px;
}

audio::-internal-media-controls-download-button {
  display: none;
}

audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

#playSection audio {
  border-radius: 0 !important;
}

#playSection audio::-webkit-media-controls-play-button {
  display: none;
}

#homeLink {
  color: #000;
  text-decoration: None;
  font-size: inherit;
  font-weight: inherit;
}
