/* containers/Music */

p.bioText {
  max-width: 98%;
  margin: auto;
  text-align: left;
  padding-top: 7px;
}

aside.instrumentList {
  text-align: left;
  margin: auto;
  width: 3in;
}

td.wjBand {
  text-align: center;
  background-color: #e6ffe6;
}

td p a {
  font-size: inherit
}

.tourTable {
  -webkit-overflow-scrolling: touch;
}

.white {
  z-index: 1;
  position: fixed;
  overflow-x: hidden;
  margin: auto;
  white-space: nowrap;
}

.Nav-Buttons {
  padding-left: 50px;
  display: 'inline';
}

.Musicdash-Title {
  margin: '14px';
}