/* containers/Music */

p.bioText {
  max-width: 98%;
  margin: auto;
  text-align: left;
  padding-top: 7px;
}

aside.instrumentList {
  text-align: left;
  margin: auto;
  width: 3in;
}

td.wjBand {
  text-align: center;
  background-color: #e6ffe6;
}

td p a {
  font-size: inherit
}

.tourTable {
  -webkit-overflow-scrolling: touch;
}

.center {
  z-index: 5;
  position: fixed;
  margin: auto;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  padding-right: 120px;
}

.Nav-Buttons {
  padding-left: 50px;
  display: inline;
}

.Musicdash-Title {
  margin: 14px; 
  color: black;
  font-size: 17pt;
}