/*Music player styles*/
#musicTable tr,
#musicTable td {
  background-color: transparent !important;
}

#player button {
  background-color: #eee;
  padding: 3px 10px;
  border-radius: 3px;
  border: 0;
  margin: 3px;
  outline: 0;
  font-size: 0.8em;
}

#playSection audio {
  background-image: url("/static/imgs/webjamlogo1.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 0 !important;
  background-color: #2a222a !important;
}

button.on {
  background-color: #c0c0c0 !important;
}

#player button:hover {
  background-color: #c0c0c0;
}

#inputGroup {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
  background-color: #c0c0c0;
  text-align: right !important;
}

#copyUrl {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-size: 0.8em;
}

.copySuccess {
  /*text-align: left;*/
  color: green;
}

#play-pause.off {
  background-color: #c0c0c0 !important;
}

#play-pause.on {
  background-color: green !important;
  color: #ffffff;
}

#playerAndButtons button.on {
  background-color: green !important;
  color: #ffffff;
}

.missionon, .pubon, .originalon{
  background-color:green !important;
  color:white !important;
}

#mainPlayer iFrame {
  pointer-events: none;
}

.youtubeOverlay {
  position: absolute;
  margin-top: 90px;
  background-color: white;
  width: 100%;
  height: 125px;
}

.soundcloudOverlay {
  position: absolute;
  margin-top: 13px;
  margin-left: 7px;
  background-color: white;
  width: 48px;
  height: 48px;
}

#copier {
  position: relative;
}

#copyInput {
  width: 100%;
}

#copyInput input {
  border: 1px solid #c0c0c0 !important;
  width: 100%;
  padding: 4px;
}

#copyButton {
  position: absolute;
  border: 1px solid #c0c0c0;
  right: 15px;
  z-index: 10;
  padding: 4px;
  background-color: #c0c0c0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#playSection audio::-webkit-media-controls-play-button {
  display: none;
}

#homeLink {
  color: #000;
  text-decoration: None;
  font-size: inherit;
  font-weight: inherit;
}

audio::-internal-media-controls-download-button {
  display: none;
}

audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px);
  /* Adjust as needed */
}
