/* Slideshow container */
#libslideshow,
#libslideshow1,
#slideshowMusic,
#slideshow1,
#slideshow,
#musicSlide1,
#musicSlide2,
#lSlide1,
#lSlide2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
  max-height: 450px;
}

#libslideshow img,
#libslideshow1 img,
#slideshowMusic img,
#slideshow1 img,
#slideshow img,
#musicSlide1 img,
#musicSlide2 img,
#lSlide1 img,
#lSlide2 img {
  width: 100%;
}

.wideSlideshow {
  padding: 0 0 15px !important;
}

.music-slideshow {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 38%;
}

.home-slideshow {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 50%;
  margin-top: -15px;
}

.slideshowimage {
  width: 100%;
  height: 0;
}

.spaceUnderSlideShow {
  margin-top: auto;
}

.sidebar-image {
  width: 180px;
  border: 0;
}

.slide-images {
  width: 100%;
  height: 390px;
  background-color: black;
  object-fit: contain;
}

/*@media screen and (min-width: 760px) and (max-width: 1000px) {
  #libslideshow,
  #libslideshow1,
  #slideshowMusic,
  #slideshow1,
  #slideshow,
  #musicSlide1,
  #musicSlide2,
  #lSlide1,
  #lSlide2 {
      height: 390px !important;
    }
  .slide-images {
      height: auto;
      max-height: 320px;
  }  
  }

@media screen and (min-width: 600px) and (max-width: 760px) {
#libslideshow,
#libslideshow1,
#slideshowMusic,
#slideshow1,
#slideshow,
#musicSlide1,
#musicSlide2,
#lSlide1,
#lSlide2 {
    height: 350px !important;
  }
.slide-images {
    height: auto;
    max-height: 300px;
}  
}

@media screen and (min-width: 400px) and (max-width: 599px) {
  #libslideshow,
  #libslideshow1,
  #slideshowMusic,
  #slideshow1,
  #slideshow,
  #musicSlide1,
  #musicSlide2,
  #lSlide1,
  #lSlide2 {
      height: 250px !important;
    }
  .slide-images {
      height: auto;
      max-height: 210px;
  }
}

@media screen and (min-width: 200px) and (max-width: 399px) {
  #libslideshow,
  #libslideshow1,
  #slideshowMusic,
  #slideshow1,
  #slideshow,
  #musicSlide1,
  #musicSlide2,
  #lSlide1,
  #lSlide2 {
      height: 200px !important;
    }
  .slide-images {
      height: auto;
      max-height: 160px;
  }
}*/