.MuiDataGrid-main {
  a, p, span {
    font-size:14px;
    text-align:left;
  }
  .MuiDataGrid-columnHeaderTitle {
    font-weight: bold;
  }
}

.ourPastPerformances {
  background-color:white;
  color:black;
  font-weight:bold;
  font-style:italic;
  font-size:14pt !important;
}

.adminGrid {
  .MuiDataGrid-row{
    cursor:pointer;
  }
}
