<!DOCTYPE html>
<html translate="no" lang="en">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: http://ogp.me/ns/music#"
  > <meta name="google" value="notranslate"> 
    <meta property="og:title" content="Web Jam LLC" />
    <meta property="og:description" content="Try out our music player today!" />
    <meta
      property="og:image"
      content="https://web-jam.com/static/imgs/webjamlogo1.png"
    />
    <meta property="og:url" content="https://web-jam.com/music/songs" />
    <meta property="og:type" content="music.playlist" />
    <meta property="fb:app_id" content="2207148322688942" />
    <title>
      <%- htmlWebpackPlugin.options.metadata.title %>
    </title>
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <link
      href="https://fonts.googleapis.com/css?family=PT Sans Caption"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="js/scripts.js" type="module"></script>
    <script src="js/module/google.js"></script>
    <script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_MAPS_API_KEY&loading=async&callback=mapDiv"></script>
  </head>

  <body>
    <script src="<%- htmlWebpackPlugin.options.metadata.googleMapKey %>"></script>
    <div translate="no" lang="en">
      <div id="root">
        <div class="splash">
          <div class="message">
            <%- htmlWebpackPlugin.options.metadata.title %>
          </div>
          <i class="fa fa-spinner fa-spin"></i>
        </div>
      </div>
    </div>
  </body>
</html>
