.textUnderPlayer{
    padding-bottom: 0px;
    margin:auto;
}

.songPlayerButtonsSection{
    margin:auto;
}

#playSection {
    padding-bottom:6px !important;
    padding-left: 6px !important;
}


#play-pause.on { background-color: green; color: black; }
#play-pause.off { background-color: #eee; color: black;} 

#play-buttons { margin-bottom:10px;}
